.age_result {
  text-align: center;
}

.age_output {
  display: inline-block;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  justify-self: flex-end;
}

.age_unit {
  justify-self: flex-start;
}
