button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 3 / span 3;
  width: 70%;
  height: 50px;
  margin-block: 15px;
  border: var(--input-border);
  border-radius: 1000px;
  color: var(--text-button-color);
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  z-index: 0;
  box-shadow: var(--box-shadow);
}

/* Toggle button */

.toggle_button {
  position: absolute;
  background-color: transparent;
  top: 25px; left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #3d3d3d8c;
}
