button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 3 / span 3;
  width: 70%;
  height: 50px;
  margin-block: 15px;
  border: none;
  border-radius: 1000px;
  color: inherit;
  background-color: #f0f0f0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  border-radius: 1000px;
  background: linear-gradient(
    90deg,
    rgba(36, 121, 159, 1) 0%,
    rgba(38, 152, 157, 1) 35%,
    rgba(29, 199, 155, 1) 100%
  );
  z-index: -1;
}

button:hover {
  z-index: 0;
  box-shadow: 5px 0 20px 9px rgba(29, 199, 154, 0.701),
    -5px 0 20px 9px rgba(36, 121, 159, 1);
  color: #f0f0f0;
}
